<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button autoHide="false"></ion-back-button>
    </ion-buttons>
    <ion-title>Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="emojiContainer" [style.height]="showEmojiPicker?'300px':'0px'"> <!--Show/Hide emoji picker. Don't use *ngIf because the component will be created again and again and cause performance issue-->
    <emoji-picker (onEmojiSelect)="addEmoji($event)"></emoji-picker>
  </div>

</ion-content>
