
<ion-content>
 
  <ion-row *ngIf="emojiCategories;else loader;">
    <ion-col size="12">
      <!--EMOJI CATEGORIES-->

      <div class="categoryContainer" #categoryDiv>
        <div  class="category" [class.selectedCategory]="currentCategoryName==item.name" *ngFor="let item of emojiCategories;let i=index;" (click)="categoryChanged(item,i)">
          <p>{{item.icon[0]}}</p>
          <p>{{item.name}}</p>
        </div>
      </div>

    </ion-col>
    <ion-col size="12">
      <!--CATEGORY CONTENT-->

      <ion-slides #slides pager="false" [options]="slideOpts">
        <ion-slide *ngFor="let item of emojiCategories">
          <ion-row>
            <ion-col size="1.5" *ngFor="let childItem of item.emojis" (click)="selectEmoji(childItem[0])">
              <p style="margin:1px;">{{childItem[0]}}</p>
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
</ion-content>

<ng-template #loader>
  <ion-row>
    <ion-col size="12">
      <ion-spinner name="crescent"></ion-spinner>
    </ion-col>
  </ion-row>
 
</ng-template>
